body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    /* width: 5fr;
    height: 1fr; */
    background-color: aqua;
}
.div2 {
    grid-area: 2 / 1 / 6 / 2;
    width: 1fr;
    height: 4fr;
    background-color: teal;
}

.div3 {
    grid-area: 2 / 2 / 3 / 6;
    width: 4fr;
    height: 1fr;
    background-color: blueviolet;
}

.div4 {
    grid-area: 3 / 2 / 6 / 3;
    width: 1fr;
    height: 3fr;
    background-color: darkblue;
}

.div5 {
    grid-area: 3 / 3 / 4 / 6;
    width: 3fr;
    height: 1fr;
    background-color: darkmagenta;
}

.div6 {
    grid-area: 4 / 3 / 6 / 4;
    width: 1fr;
    height: 2fr;
    background-color: brown;
}

.div7 {
    grid-area: 4 / 4 / 5 / 6;
    width: 2fr;
    height: 1fr;
    background-color: yellow;
}

.div8 {
    grid-area: 5 / 4 / 6 / 5;
    width: 1fr;
    height: 1fr;
    background-color: lightcoral;
}

.div9 {
    grid-area: 5 / 5 / 6 / 6;
    width: 1fr;
    height: 1fr;
    background-color: darkgreen;
}